@use "list";

body {
	display: grid;
	grid-template-rows: min-content auto;
	justify-items: center;
}

#courses {
	align-items: center;
	background: linear-gradient(to bottom, var(--background-color) 70%, transparent 100%);
	display: flex;
	flex-wrap: wrap;
	gap: 5em;
	justify-content: center;
	max-width: 100%;
	padding: 9em 15%;
	position: fixed;
	transition: padding-top 400ms;
}

#courses.scrolled {
	padding-top: 3em;
}

.course {
	background-color: var(--accent-color);
	border-radius: 12px;
	font-size: 1em;
	font-weight: 800;
	padding: 3em 3.5em;
	transition: background-color 400ms;
}

.course:hover {
	background-color: var(--accent-color-lighter);
}

#assignments {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin-top: 24rem;
	padding-bottom: 10em;
}

.list-expansion {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.assignment-info {
	display: grid;
	grid-template-columns: auto auto;
	width: 80%;
}

.assignment-description {
	font-family: "JetBrains Mono", monospace;
}
