#dialog {
	background-color: var(--background-color-lighter);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 0.8em;
	left: 50%;
	padding: 5em;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

#dialog p,
#dialog button {
	margin-top: 1em;
}

#dialog input.missing {
	outline: solid 1px var(--accent-color);
}

.alert {
	color: var(--alert-color);
	font-weight: bold;
}
