@use "components/button";
@use "components/dialog";

:root {
	--accent-color: #5B61BE;
	--accent-color-darker: #5057B9;

	--background-color: #1B1C2C;
	--background-color-lighter: #27283F;
	--background-color-lightest: #373753;

	--text-color: #F6F6FD;

	--select-color: #8381F0;
	--select-color-darker: #5E5CD6;
	--select-color-lightest: #C5CAF1;

	--alert-color: #D9776D;
	--alert-color-darker: #FF7565;
}

* {
	margin: 0;
}

body {
	background-color: var(--background-color);
	background-repeat: no-repeat;
	color: var(--text-color);
	font-family: Inter, sans-serif;
	height: 100vh;
	height: 100lvh;
}

a {
	color: #6EA8FE;
	transition: 400ms color;
}

a:hover {
	color: #88B4F5;
}

input {
	background-color: #E8E8E8;
	border: 2px solid transparent;
	border-radius: 10px;
	outline: solid 1px transparent;
	padding: 0.8em 1em;
	transition: 400ms border, 500ms outline;
}

input:hover {
	border: 2px solid var(--select-color);
}

input:focus {
	border: 2px solid var(--select-color-darker);
}

.back-button {
	left: 0;
	margin: 2em;
	position: fixed;
	top: 0;
	z-index: 1;
}
