@use "dialog";

:root {
	--accent-color: #5B61BE;
	--accent-color-lighter: #545ABB;
	--accent-color-darker: #5057B9;

	--background-color: #1B1C2C;
	--background-color-lighter: #27283F;
	--background-color-lightest: #373753;

	--text-color: #F6F6FD;

	--select-color: #8381F0;
	--select-color-darker: #5E5CD6;

	--alert-color: #D9776D;
	--alert-color-darker: #FF7565;
}

* {
	margin: 0;
}

body {
	background-color: var(--background-color);
	background-repeat: no-repeat;
	color: var(--text-color);
	font-family: Inter, sans-serif;
	height: 100vh;
	height: 100lvh;
}

button {
	--button-background-color: var(--background-color-lighter);
	--button-background-color-hover: var(--background-color-lightest);
	--button-foreground-color: var(--text-color);

	background-color: var(--button-background-color);
	border: none;
	border-radius: 10px;
	color: var(--button-foreground-color);
	padding: 0.8em 1em;
	transition: 400ms background-color;
	user-select: auto;
}

button:hover {
	background-color: var(--button-background-color-hover);
}

a {
	color: #6EA8FE;
	transition: 400ms color;
}

a:hover {
	color: #88B4F5;
}

input {
	background-color: #E8E8E8;
	border: 2px solid transparent;
	border-radius: 10px;
	outline: solid 1px transparent;
	padding: 0.8em 1em;
	transition: 400ms border, 500ms outline;
}

input:hover {
	border: 2px solid var(--select-color);
}

input:focus {
	border: 2px solid var(--select-color-darker);
}

button.continue {
	--button-background-color: var(--select-color);
	--button-background-color-hover: var(--select-color-darker);
}

button.danger {
	--button-background-color: var(--alert-color);
	--button-background-color-hover: var(--alert-color-darker);
}

button.outline {
	background-color: transparent;
	border: 2px solid black;
	color: black;
	transition: border-color 300ms, color 300ms;
}

button.outline:hover {
	background-color: transparent;
	border-color: var(--button-background-color-hover);
	color: var(--button-background-color-hover);
}

.back-button {
	margin: 2em;
}
