@use "dialog";

:root {
	--accent-color: #D7EBFD;
	--accent-color-lighter: #EAF8FD;
	--accent-color-darker: #C6E2FB;

	--select-color: #2167D6;
	--select-color-darker: #093FAA;

	--alert-color: #BD4B3F;
	--alert-color-darker: #a83124;
}

* {
	margin: 0;
}

button {
	border: none;
	border-radius: 10px;
	padding: 0.8em 1em;
	transition: 400ms background-color;
	user-select: auto;
}

body {
	background-color: #EFFDFF;
	background-repeat: no-repeat;
	font-family: "Inter", sans-serif;
	height: 100vh;
	height: 100lvh;
}

input {
	background-color: #E8E8E8;
	border: 2px solid transparent;
	border-radius: 10px;
	outline: solid 1px transparent;
	padding: 0.8em 1em;
	transition: 400ms border, 500ms outline;
}

input:hover {
	border: 2px solid var(--select-color);
}

input:focus {
	border: 2px solid var(--select-color-darker);
}

button.continue {
	--background-color: var(--select-color);
	--background-color-hover: var(--select-color-darker);
	--foreground-color: white;

	background-color: var(--background-color);
	color: var(--foreground-color);
}

button.continue:hover {
	background-color: var(--background-color-hover);
}

button.danger {
	--background-color: var(--alert-color);
	--background-color-hover: var(--alert-color-darker);
	--foreground-color: white;

	background-color: var(--background-color);
	color: var(--foreground-color);
}

button.danger:hover {
	background-color: var(--background-color-hover);
}

button.outline {
	background-color: transparent;
	border: 2px solid black;
	color: black;
	transition: border-color 300ms, color 300ms;
}

button.outline:hover {
	background-color: transparent;
	border-color: var(--background-color);
	color: var(--background-color);
}
