button {
	--button-background-color: var(--background-color-lighter);
	--button-background-color-hover: var(--background-color-lightest);
	--button-foreground-color: var(--text-color);

	background-color: var(--button-background-color);
	border: none;
	border-radius: 10px;
	color: var(--button-foreground-color);
	padding: 0.8em 1em;
	transition: 400ms background-color;
	user-select: auto;
}

button:hover {
	background-color: var(--button-background-color-hover);
}

button.continue {
	--button-background-color: var(--select-color);
	--button-background-color-hover: var(--select-color-darker);
}

button.danger {
	--button-background-color: var(--alert-color);
	--button-background-color-hover: var(--alert-color-darker);
}

button.outline.continue {
	--button-background-color-hover: var(--select-color-lightest);
}

button.outline {
	background-color: transparent;
	border: 2px solid var(--text-color);
	color: var(--text-color);
	transition: border-color 300ms, color 300ms;
}

button.outline:hover {
	background-color: transparent;
	border-color: var(--button-background-color-hover);
	color: var(--button-background-color-hover);
}
